


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

.text-primary{
    color: #4E47FF;
    }

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    }

/* Header styles */
.header{
   
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
    background-size: 1440px 698px ;
    background-repeat: no-repeat;
    background-position: center top;
    
    
    }
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 150px;
    
}

.nav-title{
    font-size: 34px;
}
nav ul {
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;

}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-around;

}
.banner-content{
    max-width: 905px;

}
.banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: 600;
    text-align: center;
}
.banner-align{
    text-align: center;
}

/* main styles */

.See {
  display: flex;
  justify-content: space-between;
  margin: 116px 159px 116px 141px;
  align-items: center;
}

.section1-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;
}

.section1-content{
    max-width: 520px;
}
.section1-description{
    font-size: 24px;
    color: #252432;
    line-height: 1.6;
    margin-bottom: 25px;
}


.section1-img{
    border-radius: 48px;
}

.section2-bg{
background-color:#4E47FF1A;
margin: 116px 159px 137px 141px;
border-radius: 24px; 
box-sizing: border-box;
display: flex;
justify-content: center;
flex-direction: column;
max-width:1140px;
height: 328px;
}

.section2-title
{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;

}

.stats{
    display: flex;
    justify-content: space-between;
}
.stat-container{
    width: 856px;
    padding: 50px 142px;
    margin: 80px auto;
    text-align: center;
    width: fit-content;
    box-sizing: border-box ;
   
}
.stat-box{
    flex: 1;
}
.stat-number{
    font-size: 80px;
    font-weight: bold;
}
.stat-label{
    font-size: 20px;
    font-weight: 400;
    color: #00000080;
}


.section-bg{
    background-color: #F8FAFF;
}

/*Section4 -Styles*/
.section4{
padding: 150px 160px;
display: flex;
gap: 5px;
margin-top: 93px;
margin-bottom: 8px;
box-sizing: border-box;
justify-content: space-between;
min-width: 1140px;
max-width: 100%;
}
.section4-title{

font-size: 97px;
font-weight: bold;
line-height: 1.2;
white-space: nowrap;;
}
.section4-column{

width: 40%;
}
.form-section {
  padding-top: 92px;
}

.section4-title-move{

margin-left: -20px; 
}
.form-move{

margin-left: 240px; 
}
input[type="text"]{
width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border: 1px solid #D6DDED;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 19px;
  margin-top: 5px;

}

input[type="email"]{
    width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border: 1px solid #D6DDED;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 19px;
  margin-top: 5px;
    }

textarea {
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border: 1px solid #D6DDED;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: white;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 5px;
  margin-bottom: 19px;
}
.section4-text{
 font-size: 18px;
 font-weight: 500;
}

.section4-btn{
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 12px 36px;
  border-radius: 5px;
  border: none;

  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
    }
.section4-btn:hover {
  background-color: #3c3bd4;
}

.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: white;
    text-align: center;
}
.footer-text1{
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 20px;
}
.footer-content{
  max-width: 600px;
  width: 100%;
}

.footer-description{
  color: #8987A1;
}
.footer-items{
  display: flex;
  justify-content: space-around;
}
.footer-decoration{
  text-decoration: none;
  color: #8987A1;
}